<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="item in ads._embedded.ads">
        <ul class="list-group">
            <li class="list-group-item">Published: {{item.publishedAt}}</li>
            <li class="list-group-item">Amount: {{item.amount}}</li>
            <li class="list-group-item">Currency {{item.currency}}</li>
            <li class="list-group-item">Rate {{item.rate}}</li>
        </ul>
    </div>
</div>
<div>
    <ul class="pagination" ng-repeat="link in pagination.links">
        <li ng-class="{'disabled' : link.value=='disabled'}"><a ng-click="navigate(link)">{{link.name}}</a></li>
    </ul>
</div>